<router-outlet></router-outlet>
<div class="camera-wrapper">
  <button class="snap capture" [ngClass]="{'active': !imageCaptured}" (click)="snapshot()">
    <span class="bg"></span>
  </button>
  <button class="snap accept" [ngClass]="{'active': imageCaptured}" (click)="onImageAccept()">
    <span class="bg"></span>
  </button>
  <button class="snap reject" [ngClass]="{'active': imageCaptured}" (click)="onImagereject()">
    <span class="bg"></span>
  </button>
  <lib-ngx-camera class="camera" (imageCapture)='onImageCapture($event)' [clear]='clearCanvas'
    (detectedDevices)='logDevices($event)' [switchCamera]='webcam' [trigger]='trigger'>
  </lib-ngx-camera>
</div>
<div class="button-wrapper">
  <ng-container *ngFor="let item of devices">
    <button (click)="switchDevice(item)">
      {{item.label}}
    </button>
  </ng-container>
</div>
